/* global vars */
:root {
    /* INDEX PAGE */
    --DT: #20abff;
    --colorblockslice: #96e0fd;
    
    /* PRELOADER */
    --preloader: #73d4fa;
    --wall: rgb(211, 217, 220);
    --runner: lightgrey;

    /* HEADER */
    /* --icon-background: #ff9f00; */
    --icon-background: #73d4fa;
    --icon-text: #000000;
    --icon-inactive:#e9e9e9;
    --icon-active:#000000;
}

/* global font: note, do NOT use !important - you'll break fontawesome */
html *
{
   /* font-size: 1em !important; */
   /* color: #000 !important; */
   font-family: EB Garamond;
}

/* global padding for all root containers */
@media (min-width: 992px) {
    .container-fluid{
        padding: 0px 100px 0px 50px !important;
    }
}

@media (max-width: 991px) {
    .container-fluid{
        padding: 0px 50px 0px 50px !important;
    }
}

@media (max-width: 576px) {
    .container-fluid{
        padding: 0px 25px 0px 25px !important;
    }
}

body{
    background: #F9F5F1
}

/* INDEX PAGE */
/* typewriter */
.intro{
    overflow: hidden;
    text-align: center;
    /* background: blue; */
    /* display: inline-block; */
    /* width: 1200px;
    height: 100px; */
    max-height: 300px;
    /* border: 1px solid black;
    border-radius: 5px; */
    transition:  max-height 3s;
}

/* background color slash */
.color-block {
    /* background-color: #ff9e0096; */
    overflow: visible !important;
    background-color: var(--colorblockslice);
    position: fixed;
    height: 200%;
    width: 100%;
    transform: rotate(-17.5deg);
    left: -80%;
    top: -50%;
    z-index: -1;
}


/* big text separating sections */
.section_txt{
    text-align: center;
    font-size: 4em;
}

.body_txt{
    font-size:1.5em;
    text-align: justify;
    margin-bottom: 2em;
}

/* Desktop & Mobile index text */
@media (min-width: 992px) {
    .index-desktop-box{
        display:flex; 
        flex-direction:row; 
        /* height: 80vh; */
    }

    .index-desktop-text{
        padding: 0 25px 0 50px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        line-height: 2em;
        margin: auto 0 auto 0;
        min-height:90vh;
    }
}

@media (max-width: 991px) {
    .index-desktop-text{
        text-align: center;
        font-size:0.8em;
    }
}

/*** NAVIGATION ***/
/* DESKTOP */
/* header container properties */
.header {
    position: fixed;
    right: 30px;
    bottom: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    height: calc(100vh - 200px);
    top: 100px;
    opacity: 1;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
}

/* icon (circle box) properties */
.header ul.icon-menu li.icon-box {
    width: 50px;
    height: 50px;
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    transition: .3s;
    margin: 2em 0;
    border-radius: 50%;
    /* border: transparent; */
    background: #2b2a2a;
}

/* circle box colour on hover */
.header ul.icon-menu li.icon-box:hover{
    background: var(--icon-background);
    /* border-radius: 0 50% 50% 0 ; */
}

/* inactive icon color & size */
.header ul.icon-menu li.icon-box i {
    color: var(--icon-inactive);
    font-size: 19px;
    /* border-radius: 50%; */
}

/* active background color */
.header ul.icon-menu li.icon-box.active,
.header ul.icon-menu li.icon-box:hover{
    background: var(--icon-background);
}

/* active icon color */
.header ul.icon-menu li.icon-box.active i,
.header ul.icon-menu li.icon-box:hover i {
    color: var(--icon-active); 
}

/* size of hyperlink <a> box (should match icon box size) */
.header ul.icon-menu li.icon-box a {
    display: block;
    padding: 0;
    width: 50px;
    height: 50px;
}

/* remove listener on icon itself (let hyperlink <a> handle it) */
.header ul.icon-menu li.icon-box i.fa {
    position: absolute;
    pointer-events: none;
}

/* center icon & fit the box it's given */
.header ul.icon-menu i {
    width:100%;
    text-align: center;
}

/* header text box properties */
.header ul.icon-menu li.icon-box a h2 {
    font-size: 1.5em;
    display:flex;
    align-items: center;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    color: var(--icon-text);
    transition: all .4s;
    border-radius: 25px 0 0 25px;
    text-transform: uppercase;
    padding: 0 25px 0 30px;
    height: 50px; 
    visibility: hidden;
}

/* hovering on hyperlink <a> */
.header ul.icon-menu li.icon-box a:hover h2 {
    visibility: visible;
    opacity: 1;
    right: 27px;
    margin: 0;
    text-align: center;
    background:var(--icon-background);
    /* display: block; */
    /* border-radius: 30px 0 0 30px; */
}

/* make scrollbar transparent */
::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}

/* MOBILE */
@media (max-width:576px){
    .d-smsm-none{
        display: none !important;
    }

}
@media (max-width: 991px) {
    /* mobile menu button properties */
    #menuToggle {
      display: inline-block;
      position: fixed;
      top: 30px;
      right: 30px;
      z-index: 0;
      user-select: none;
      padding: 19px 0 0 16px;
      width: 54px;
      height: 54px;
      border-radius: 5px;
      background: #252525;
    }
    /* mobile menu inputbox properties */
    #menuToggle input {
      display: flex;
      width: 54px;
      height: 54px;
      position: absolute;
      cursor: pointer;
      opacity: 0;
      z-index: 100;
      top: 0;
      left: 0;
    }

    /* mobile menu 3 bar properties */
    #menuToggle > span {
      display: flex;
      width: 23px;
      height: 2px;
      margin-bottom: 5px;
      position: relative;
      background: #ffffff;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 5px 0;
      transition: transform 0.3s, opacity 0.25s ease;
    }
    /* first bar, upperleft pivot point */
    #menuToggle > span:first-child {
      transform-origin: 0 0;
    }
    /* last bar, lower left pivot point */
    #menuToggle > span:nth-last-child(2) {
      transform-origin: 0 100%;
    }
    /* top bar: shift right a lil, rotate */
    #menuToggle input:checked ~ span {
      /* opacity: 1; */
      transform: rotate(45deg) translate(4px, 0);
    }
    /* middle bar, 0 rotation, shrink, and fade */
    #menuToggle input:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    /* bottom bar */
    #menuToggle input:checked ~ span:nth-last-child(2) {
      transform: rotate(-45deg) translate(3px, 4px);
    }
    
    /* mobile menu properties */
    #menu {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      padding-top: 60px;
      background-color: #252525;
      -webkit-font-smoothing: antialiased;
      transform-origin: 0 0;
      transform: translate(-100%, 0);
      transition: transform 0.5s;
    }
    
    /* expand menu box on check */
    /* note, default position of the menu is -100%x, 0y, 
        the menubar is toggled by removing the transform:translate */
    #menuToggle input:checked ~ ul {
      transform: none;
    }
    /* menu item spacer */
    #menu li {
      position: relative;
      padding-left: 30px;
    }
  
    /* menu seperation lines */
    #menu li:after {
      position: absolute;
      content: '';
      height: 1px;
      width: 90vw;
      background: #333;
      /* left: 30px; */
    }
  
    /* remove menu separation lines for the last list item */
    #menu li:last-child:after {
      display: none;
    }

    /* mobile navi list  */
    #menu li a {
      color: #fff;
      font-size: 2em;
      display: block;
      text-decoration: none;
      padding: 15px 0;
      position: relative;
    }
    /* mobile navi text */
    #menu li a span {
      position: absolute;
      left: 50px;
    }
}

/*** NAVIGATION ENDS ***/

/* CLICKY */
.card:hover{
    border: 1px solid black !important;
}

.nav-link{
    margin: 0 1em 0 1em; 
}

/* PI CREATURE START */
.eyesContainer {
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, .0);
    color: white;
    border-radius: 10px;
    transform-style: preserve-3d;
    /* box-shadow: 0 30px 70px #666; */
    will-change: transform;
    transform: perspective(500px) rotateX(var(--yAngle, 0deg)) rotateY(var(--xAngle, 0deg));
}

.eye {
  width: 10px;
  height: 10px;
  top: 12px;
  position: absolute;
  z-index: -1;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: white;
  transform:  rotate(var(--eyeAngle, 0deg));
}

.pupil {
  position: relative;
  width: 4px;
  height: 4px;
  background: #000;
  border-radius: 50%;
  top: calc(50% - 2px);
  left: 5px;
}
/* PI CREATURE ENDS */