body{
    background: #F9F5F1
}


.card:hover{
    border: 1px solid black !important;
}

.nav-link{
    margin: 0 1em 0 1em; 
}


html *
{
   /* font-size: 1em !important; */
   /* color: #000 !important; */
   font-family: EB Garamond !important;
}

.container-fluid{
    padding: 0px 50px 0px 50px !important;
}

/* animation */
.eyesContainer {
    position: relative;
    left:10px;
    top: 10px;
    width: 100px;
    height: 100px;
    background-color: aqua;
    background-color: rgba(0, 0, 0, .0);
    color: white;
    border-radius: 10px;
    transform-style: preserve-3d;
    /* box-shadow: 0 30px 70px #666; */
    will-change: transform;
    transform: perspective(500px) rotateX(var(--yAngle, 0deg)) rotateY(var(--xAngle, 0deg));
}

.eye {
  width: 10px;
  height: 10px;
  top: 12px;
  position: absolute;
  z-index: -1;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: white;
  transform:  rotate(var(--eyeAngle, 0deg));
}

.pupil {
  position: relative;
  width: 4px;
  height: 4px;
  background: #000;
  border-radius: 50%;
  top: calc(50% - 2px);
  left: 5px;
}
.intro{
    overflow: hidden;
    text-align: center;
    /* background: blue; */
    /* display: inline-block; */
    /* width: 1200px;
    height: 100px; */
    max-height: 300px;
    /* border: 1px solid black;
    border-radius: 5px; */
    transition:  max-height 3s;
}


.clicky{
    overflow:hidden;
    max-height: 0px;
    transition: max-height 5s;
}

.section_txt{
    text-align: center;
    font-size: 4em;
}

.body_txt{
    font-size:1.5em;
    text-align: justify;
    margin-bottom: 2em;
}
/* DEBUG CORNER */

/* .intro:hover{
    max-height: 0px;
} */

