body{
    background: #F9F5F1
}


.card:hover{
    border: 1px solid black !important;
}

.nav-link{
    margin: 0 1em 0 1em; 
}


html *
{
   /* font-size: 1em !important; */
   /* color: #000 !important; */
   font-family: EB Garamond !important;
}

.container-fluid{
    padding: 0px 50px 0px 50px !important;
}

/* animation */

.intro{
    overflow: hidden;
    text-align: center;
    /* background: blue; */
    /* display: inline-block; */
    /* width: 1200px;
    height: 100px; */
    max-height: 300px;
    /* border: 1px solid black;
    border-radius: 5px; */
    transition:  max-height 3s;
}


.clicky{
    overflow:hidden;
    max-height: 0px;
    transition: max-height 5s;
}

.section_txt{
    text-align: center;
    font-size: 4em;
}

.body_txt{
    font-size:1.5em;
    text-align: justify;
    margin-bottom: 2em;
}
/* DEBUG CORNER */

/* .intro:hover{
    max-height: 0px;
} */

