.titular_head{
    font-size: 3em;
    text-align: center;
    /* background: beige; */
}

.nav-link{
    margin: 0 15px 0 15px; 
}

html *
{
   /* font-size: 1em !important; */
   /* color: #000 !important; */
   font-family: EB Garamond !important;
}